<%- include('partials/head') %> 

<body>

    <%- include('partials/navbar') %>

    <h1>Browsing The <%= name %>  subreddit </h1>
    <h3><%= description %> </h3>
    <p><%=  subscribers %> </p>
    <% for(let post of posts) { %> 
        <article>
            <p>  <%=  post.title %> by <b> - <%= post.author  %> </b> </p>
            <% if(post.img){ %> 
               <img src="<%= post.img %> " alt="some img"> 
            <% } %>     
        </article>
        <% } %> 

</body>
</html>